<form action='/{{id}}/edit' method='post'>
  <input type="text" name='name' placeholder="name" value="{{park.name}}">
  <input type='number' name='year_founded' placeholder='Year Established'>
  <select name="state_id">
    {{#each states}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <input type="number" name="size" placeholder="Size in Acres">
  <input type="url" name="img" placeholder="Image URL">
  <button type="submit">Create</button>
</form>
