<h1>National Parks</h1>

<ul>
  {{#each list}}
  <li>
    <a href="/{{this.id}}"> {{this.name}}</a><br>
    <img class="" src={{this.img}}>
  </li>
  {{/each}}
</ul>
<a href="/parks"><button>Add a Park</button></a>
